<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zoo_Manager.Properties.Settings.EchoDBConnectionString"
            connectionString="Data Source=LTVP-N-18\SERVAKAS;Initial Catalog=EchoDB;Persist Security Info=True;User ID=sa;Password=16170000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>